[Unit]
Description=Foon DB Service
After=docker.service
[Service]
WorkingDirectory=/opt/foon_detect
ExecStart=docker-compose up --build
ExecStop=docker-compose stop
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target